extends layout
block content
  .container
      h2 
        p
         | OpenShift App para verificar o tempo
      br
      br
      .row
        .col-md-3
          form(method="post", action="get_weather")
            .form-group
              label.sr-only(for="city") City Name
              input.form-control( name="city" type="text" placeholder="Digite o nome da cidade (for ex: New York)" required='required')
            button.btn.btn-success(type="submit") Ver previsão
      if error
        br
        .alert.alert-danger #{error}
      if weather
        .row
          .col-md-5
            p
            br
            .panel.panel-primary
              .panel-heading Previsão para: #{weather.name}, #{weather.sys.country}
              .panel-body
               p Temperatura neste momento = #{weather.main.temp} !{units}, #{weather.weather[0].description}
               p Humidade = #{weather.main.humidity} &#37;
               p Min = #{weather.main.temp_min} !{units}
               p Max = #{weather.main.temp_max} !{units}